<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Course01!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="pk-main-grid-layout">

      <div class="pk-grid-area-navbar">
        <p>NAVBAR</p>
      </div>

      <div class="pk-grid-area-sidebar">
        <p>this is the sidebar</p>
      </div>

      <main role="main" class= "pk-grid-area-main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
