<section>
  <div>
    <h1>Ecto Adapters</h1>
    <p></p>
    <p><strong></strong></p>
  </div>
  <div>
    <h3>Visual example </h3>
  </div>
  <div>
    <h3>Code example</h3>
    <pre>
      <code>

      </code>
    </pre>
  </div>
</section>
