body{
  background-color:#f2f2f2;
}
.pk-background-primary{
  background-color:#f2f2f2;
}
.pk-background-secondary{
  background-color:#35424a;
}
.pk-color-secondary{
  color:#f2f2f2;
}
pre{
  width:60%;
  background-color:#35424a;
  color: #f2f2f2;
  border-top: 1em solid #e8491d;
}
