/* Examples for links start */
.css-pseudo-example-links a:hover{
  background-color:black;
}
.css-pseudo-example-links a:link{
  color:blue;
}
.css-pseudo-example-links a:active{
  color:white;
}
.css-pseudo-example-links a:visited{
  color:green;
}
/* Examples for links end */

/* Examples for child and type start */
.css-example-pseudo-type p:first-of-type{
  color:red;
}
.css-example-pseudo-child p:first-child{
  color:red;
}
/* Examples for child and type end */

/* Examples for form and input start */
.css-example-pseudo-input input:in-range {
    background-color:#ddffdd;
}
.css-example-pseudo-input input:out-of-range{
  background-color:#ffdddd;
}
.css-example-pseudo-input input:read-only{
  background-color: darkgrey;
  color:black;
}
.css-example-pseudo-input input:required{
  border: 2px solid red;
}
.css-example-pseudo-input input:valid{
  border:2px solid green;
}
.css-example-pseudo-input input:invalid{
  border:2px solid red;
}
.css-example-pseudo-input input:focus{
  border:2px solid yellow;
}
/* Examples for form and input end */

/* Examples for misc start */
.css-examples-misc :not(h3){
  font-style:italic;
}

.css-examples-misc :target{
  text-decoration:underline;
}
/* Examples for misc end */
